body {
  margin: 0;
  padding: 15px;
  background-color: #CCC;
}

div.color {
  width: 100%;
  border: 2px solid #000;
  text-align: center;
  height: 40px;
  position: relative;
}

div.color span {
  height: 40px;
  display: inline-block;
  border: 1px solid #000;
}
