body {
  margin: 0;
  padding: 15px;
  background-color: #CCC;
}

div.color {
  width: 100%;
  border: 2px solid #000;
  height: 40px;
  position: relative;
  display: flex;
}

div.color span {
  height: 30px;
  display: inline-block;
  flex-grow: 2;
  font-size: 30px;
  padding: 5px 10px;
  font-weight: bold;
}

span:hover {
  background-color: #FF00FF;
}
div.color span.plus {
  text-align: right;
}

div.color span.qty {
  flex-grow: 1;
  text-align: center;
}
