body {
  margin: 0;
  padding: 15px;
  background-color: #CCC;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}

div.color {
  width: 94%;
  border: 2px solid #000;
  height: 40px;
  position: relative;
  display: flex;
  margin-bottom: 10px;
}

div.color span {
  height: 30px;
  display: inline-block;
  flex-grow: 2;
  font-size: 30px;
  line-height: 20px;
  padding: 5px 10px;
  font-weight: bold;
  opacity: 0.8;
}

span:active {
  background-color: #CCC;
}

div.color span.disabled {
  cursor: auto;
  pointer-events: none;
}

div.color span.plus {
  text-align: right;
}

div.color span.qty {
  flex-grow: 1;
  text-align: center;
}

canvas#spectrum {
  position: fixed;
  top: 0;
  right: 0;
  transition: transform 0.5s;
}

canvas#spectrum.hidden {
  transform: translateX(30px);
}
